<a href="https://colab.research.google.com/github/GDharan10/Project6_SingaporeResaleFlatPricesPredicting/blob/main/SingaporeResaleFlatPricesPredicting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

#Connections
from google.colab import drive

#Visualization
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

#Preprocessing
from sklearn.preprocessing import OrdinalEncoder

#Machine Learning identifying algorithms/Model
from sklearn.model_selection import train_test_split

#Machine Learning Training

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
file_path_90to99 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonApprovalDate19901999.csv'
df_90to99 = pd.read_csv(file_path_90to99)

file_path_00to12 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv'
df_00to12 = pd.read_csv(file_path_00to12)

file_path_12to14 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv'
df_12to14 = pd.read_csv(file_path_12to14)

file_path_15to16 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv'
df_15to16 = pd.read_csv(file_path_15to16)

file_path_17ToTill = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv'
df_17ToTill = pd.read_csv(file_path_17ToTill)

In [9]:
print(df_90to99.info(), df_00to12.info(), df_12to14.info(), df_15to16.info(), df_17ToTill.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287196 entries, 0 to 287195
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                287196 non-null  object
 1   town                 287196 non-null  object
 2   flat_type            287196 non-null  object
 3   block                287196 non-null  object
 4   street_name          287196 non-null  object
 5   storey_range         287196 non-null  object
 6   floor_area_sqm       287196 non-null  float64
 7   flat_model           287196 non-null  object
 8   lease_commence_date  287196 non-null  int64
 9   resale_price         287196 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 21.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369651 entries, 0 to 369650
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                369651 non-null  object
 1   town                 369651 non-null  object
 2   flat_type            369651 non-null  object
 3   block                369651 non-null  object
 4   street_name          369651 non-null  object
 5   storey_range         369651 non-null  object
 6   floor_area_sqm       369651 non-null  float64
 7   flat_model           369651 non-null  object
 8   lease_commence_date  369651 non-null  int64
 9   resale_price         369651 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 28.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52203 entries, 0 to 52202
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                52203 non-null  object
 1   town                 52203 non-null  object
 2   flat_type            52203 non-null  object
 3   block                52203 non-null  object
 4   street_name          52203 non-null  object
 5   storey_range         52203 non-null  object
 6   floor_area_sqm       52203 non-null  float64
 7   flat_model           52203 non-null  object
 8   lease_commence_date  52203 non-null  int64
 9   resale_price         52203 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37153 entries, 0 to 37152
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                37153 non-null  object
 1   town                 37153 non-null  object
 2   flat_type            37153 non-null  object
 3   block                37153 non-null  object
 4   street_name          37153 non-null  object
 5   storey_range         37153 non-null  object
 6   floor_area_sqm       37153 non-null  float64
 7   flat_model           37153 non-null  object
 8   lease_commence_date  37153 non-null  int64
 9   remaining_lease      37153 non-null  int64
 10  resale_price         37153 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178244 entries, 0 to 178243
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                178244 non-null  object
 1   town                 178244 non-null  object
 2   flat_type            178244 non-null  object
 3   block                178244 non-null  object
 4   street_name          178244 non-null  object
 5   storey_range         178244 non-null  object
 6   floor_area_sqm       178244 non-null  float64
 7   flat_model           178244 non-null  object
 8   lease_commence_date  178244 non-null  int64
 9   remaining_lease      178244 non-null  object
 10  resale_price         178244 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 15.0+ MB
None /t None None None None