<a href="https://colab.research.google.com/github/GDharan10/Project6_SingaporeResaleFlatPricesPredicting/blob/main/SingaporeResaleFlatPricesPredicting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Libraries**

In [ ]:
import pandas as pd
import numpy as np

#Connections
from google.colab import drive

#Visualization
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

#Preprocessing
from sklearn.preprocessing import OrdinalEncoder

#Machine Learning identifying algorithms/Model
from sklearn.model_selection import train_test_split

#Machine Learning Training

In [ ]:
pd.set_option('display.max_rows', None)

# **Loading dataset**

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path_90to99 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonApprovalDate19901999.csv'
df_90to99 = pd.read_csv(file_path_90to99)

file_path_00to12 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv'
df_00to12 = pd.read_csv(file_path_00to12)

file_path_12to14 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv'
df_12to14 = pd.read_csv(file_path_12to14)

file_path_15to16 = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv'
df_15to16 = pd.read_csv(file_path_15to16)

file_path_17ToTill = '/content/drive/MyDrive/DTM15/Dataset/SingaporeResaleFlat/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv'
df_17ToTill = pd.read_csv(file_path_17ToTill)

In [ ]:
print(df_90to99.info(), df_00to12.info(), df_12to14.info(), df_15to16.info(), df_17ToTill.info())

In [ ]:
# List of DataFrame names
dataframes = ['df_90to99', 'df_00to12', 'df_12to14', 'df_15to16', 'df_17ToTill']

# Iterate over DataFrame names and print info() output for each DataFrame
for df_name in dataframes:
    print(f"Info for {df_name}:")
    print(eval(df_name).info(), "\n")

Info for df_90to99:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287196 entries, 0 to 287195
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                287196 non-null  object
 1   town                 287196 non-null  object
 2   flat_type            287196 non-null  object
 3   block                287196 non-null  object
 4   street_name          287196 non-null  object
 5   storey_range         287196 non-null  object
 6   floor_area_sqm       287196 non-null  float64
 7   flat_model           287196 non-null  object
 8   lease_commence_date  287196 non-null  int64
 9   resale_price         287196 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 21.9+ MB
None

Info for df_00to12:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369651 entries, 0 to 369650
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                369651 non-null  object
 1   town                 369651 non-null  object
 2   flat_type            369651 non-null  object
 3   block                369651 non-null  object
 4   street_name          369651 non-null  object
 5   storey_range         369651 non-null  object
 6   floor_area_sqm       369651 non-null  float64
 7   flat_model           369651 non-null  object
 8   lease_commence_date  369651 non-null  int64
 9   resale_price         369651 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 28.2+ MB
None

Info for df_12to14:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52203 entries, 0 to 52202
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                52203 non-null  object
 1   town                 52203 non-null  object
 2   flat_type            52203 non-null  object
 3   block                52203 non-null  object
 4   street_name          52203 non-null  object
 5   storey_range         52203 non-null  object
 6   floor_area_sqm       52203 non-null  float64
 7   flat_model           52203 non-null  object
 8   lease_commence_date  52203 non-null  int64
 9   resale_price         52203 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 4.0+ MB
None

Info for df_15to16:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37153 entries, 0 to 37152
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                37153 non-null  object
 1   town                 37153 non-null  object
 2   flat_type            37153 non-null  object
 3   block                37153 non-null  object
 4   street_name          37153 non-null  object
 5   storey_range         37153 non-null  object
 6   floor_area_sqm       37153 non-null  float64
 7   flat_model           37153 non-null  object
 8   lease_commence_date  37153 non-null  int64
 9   remaining_lease      37153 non-null  int64
 10  resale_price         37153 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.1+ MB
None

Info for df_17ToTill:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178244 entries, 0 to 178243
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                178244 non-null  object
 1   town                 178244 non-null  object
 2   flat_type            178244 non-null  object
 3   block                178244 non-null  object
 4   street_name          178244 non-null  object
 5   storey_range         178244 non-null  object
 6   floor_area_sqm       178244 non-null  float64
 7   flat_model           178244 non-null  object
 8   lease_commence_date  178244 non-null  int64
 9   remaining_lease      178244 non-null  object
 10  resale_price         178244 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 15.0+ MB
None

In [ ]:
#  #   Column                df_90to99 df_00to12 df_12to14 df_15to16 df_17ToTill
#  0   month                  object    object    object    object    object
#  1   town                   object    object    object    object    object
#  2   flat_type              object    object    object    object    object
#  3   block                  object    object    object    object    object
#  4   street_name            object    object    object    object    object
#  5   storey_range           object    object    object    object    object
#  6   floor_area_sqm         float64   float64   float64   float64   float64
#  7   flat_model             object    object    object    object    object
#  8   lease_commence_date    int64     int64     int64     int64     int64
#  9   remaining_lease                                      int64     object
# 10   resale_price           int64     float64   float64   float64   float64

In [ ]:
df_15to16.head(2)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0

In [ ]:
df_17ToTill.head(2)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0

In [ ]:
df_17ToTill.remaining_lease.unique()

array(['61 years 04 months', '60 years 07 months', '62 years 05 months',
       '62 years 01 month', '63 years', '61 years 06 months',
       '58 years 04 months', '59 years 08 months', '59 years 06 months',
       '60 years', '62 years 08 months', '61 years', '60 years 10 months',
       '59 years 03 months', '61 years 05 months', '60 years 04 months',
       '62 years', '60 years 03 months', '63 years 09 months',
       '61 years 01 month', '61 years 10 months', '58 years 06 months',
       '59 years 04 months', '62 years 11 months', '60 years 08 months',
       '93 years 08 months', '93 years 07 months', '60 years 01 month',
       '94 years 08 months', '78 years 04 months', '60 years 06 months',
       '62 years 06 months', '58 years', '70 years 08 months',
       '63 years 04 months', '63 years 06 months', '67 years 07 months',
       '61 years 07 months', '68 years 02 months', '68 years 03 months',
       '56 years', '67 years 09 months', '67 years 05 months',
       '63 years 07 months', '66 years 03 months', '65 years 04 months',
       '69 years 05 months', '59 years 11 months', '60 years 05 months',
       '69 years 02 months', '69 years 03 months', '68 years 10 months',
       '62 years 10 months', '64 years 04 months', '66 years 01 month',
       '83 years', '83 years 01 month', '87 years 11 months',
       '71 years 02 months', '92 years 04 months', '54 years 06 months',
       '78 years 06 months', '82 years 11 months', '75 years 04 months',
       '66 years 07 months', '66 years 06 months', '75 years 11 months',
       '68 years 04 months', '55 years 09 months', '68 years 07 months',
       '67 years 11 months', '68 years', '69 years 01 month',
       '69 years 11 months', '74 years 06 months', '74 years 04 months',
       '69 years 06 months', '72 years 03 months', '67 years 02 months',
       '66 years 05 months', '69 years 04 months', '66 years 11 months',
       '66 years 10 months', '80 years', '69 years 08 months',
       '66 years 09 months', '67 years 10 months', '80 years 01 month',
       '67 years 06 months', '86 years 08 months', '71 years 06 months',
       '71 years 03 months', '67 years 04 months', '86 years 11 months',
       '86 years 10 months', '79 years 05 months', '65 years 10 months',
       '67 years 03 months', '79 years 11 months', '53 years 06 months',
       '57 years 02 months', '52 years 01 month', '58 years 03 months',
       '51 years 06 months', '58 years 08 months', '56 years 02 months',
       '53 years 08 months', '64 years 08 months', '55 years 06 months',
       '95 years 07 months', '55 years 01 month', '55 years',
       '95 years 04 months', '52 years 06 months', '57 years 04 months',
       '57 years', '82 years 06 months', '67 years 08 months', '79 years',
       '95 years 08 months', '90 years 11 months', '87 years 10 months',
       '82 years 08 months', '68 years 06 months', '81 years 02 months',
       '56 years 05 months', '65 years 05 months', '70 years 09 months',
       '71 years 01 month', '94 years 10 months', '80 years 03 months',
       '83 years 11 months', '70 years 10 months', '81 years 01 month',
       '70 years 06 months', '85 years', '81 years 05 months',
       '80 years 07 months', '80 years 10 months', '83 years 10 months',
       '86 years 09 months', '79 years 09 months', '84 years 10 months',
       '80 years 11 months', '70 years 11 months', '84 years 04 months',
       '83 years 09 months', '81 years 04 months', '79 years 07 months',
       '81 years 03 months', '70 years 01 month', '70 years 05 months',
       '70 years 07 months', '56 years 03 months', '64 years',
       '68 years 09 months', '65 years 03 months', '59 years 01 month',
       '61 years 02 months', '62 years 04 months', '93 years',
       '71 years 08 months', '82 years 03 months', '71 years 04 months',
       '75 years 05 months', '85 years 01 month', '81 years 09 months',
       '72 years 08 months', '75 years 06 months', '78 years 03 months',
       '82 years 01 month', '84 years 03 months', '77 years 05 months',
       '77 years 07 months', '85 years 04 months', '79 years 04 months',
       '78 years 09 months', '81 years 06 months', '78 years',
       '63 years 08 months', '62 years 07 months', '65 years 09 months',
       '60 years 02 months', '88 years 10 months', '53 years', '49 years',
       '51 years', '50 years 05 months', '54 years 11 months',
       '59 years 05 months', '82 years 04 months', '65 years 07 months',
       '89 years', '72 years 05 months', '78 years 05 months',
       '58 years 07 months', '80 years 05 months', '94 years 04 months',
       '69 years', '65 years', '65 years 02 months', '71 years 07 months',
       '75 years 03 months', '65 years 01 month', '79 years 10 months',
       '73 years 04 months', '72 years 04 months', '74 years 08 months',
       '74 years 09 months', '80 years 02 months', '81 years 10 months',
       '86 years 05 months', '85 years 06 months', '79 years 01 month',
       '80 years 06 months', '74 years 11 months', '68 years 08 months',
       '68 years 05 months', '48 years 09 months', '63 years 05 months',
       '65 years 06 months', '66 years 04 months', '67 years 01 month',
       '95 years 09 months', '80 years 09 months', '82 years 02 months',
       '61 years 09 months', '90 years 07 months', '57 years 09 months',
       '54 years', '53 years 05 months', '71 years', '58 years 10 months',
       '92 years 03 months', '66 years 02 months', '64 years 03 months',
       '72 years 02 months', '83 years 04 months', '78 years 07 months',
       '84 years 01 month', '78 years 08 months', '72 years 10 months',
       '71 years 11 months', '76 years', '78 years 02 months',
       '71 years 05 months', '72 years 07 months', '83 years 03 months',
       '67 years', '72 years 11 months', '90 years 08 months',
       '84 years 11 months', '84 years 09 months', '82 years 07 months',
       '66 years 08 months', '88 years 04 months', '85 years 10 months',
       '90 years 05 months', '90 years 06 months', '83 years 05 months',
       '84 years 02 months', '82 years 09 months', '82 years 05 months',
       '73 years', '84 years 06 months', '83 years 07 months',
       '52 years 05 months', '56 years 08 months', '56 years 06 months',
       '68 years 01 month', '64 years 10 months', '57 years 01 month',
       '86 years 06 months', '88 years 07 months', '93 years 11 months',
       '58 years 02 months', '78 years 10 months', '77 years 08 months',
       '75 years 07 months', '77 years 09 months', '75 years 08 months',
       '77 years 04 months', '85 years 07 months', '95 years',
       '89 years 07 months', '91 years 02 months', '94 years 11 months',
       '85 years 11 months', '94 years 06 months', '94 years 07 months',
       '95 years 01 month', '95 years 02 months', '95 years 06 months',
       '93 years 02 months', '86 years 03 months', '87 years',
       '86 years 04 months', '85 years 03 months', '86 years 02 months',
       '85 years 09 months', '52 years', '49 years 01 month',
       '57 years 06 months', '56 years 04 months', '95 years 03 months',
       '88 years 11 months', '59 years', '85 years 08 months',
       '92 years 07 months', '83 years 06 months', '83 years 02 months',
       '81 years 11 months', '84 years', '94 years 02 months',
       '94 years 01 month', '85 years 05 months', '85 years 02 months',
       '83 years 08 months', '95 years 10 months', '93 years 10 months',
       '81 years', '95 years 05 months', '88 years 01 month',
       '94 years 09 months', '92 years 02 months', '90 years 04 months',
       '91 years 11 months', '91 years 07 months', '84 years 08 months',
       '84 years 05 months', '71 years 10 months', '74 years 10 months',
       '69 years 09 months', '79 years 02 months', '64 years 09 months',
       '79 years 03 months', '79 years 06 months', '79 years 08 months',
       '90 years', '69 years 10 months', '77 years 10 months',
       '49 years 05 months', '52 years 07 months', '54 years 07 months',
       '88 years', '91 years 03 months', '59 years 10 months',
       '62 years 09 months', '78 years 01 month', '71 years 09 months',
       '81 years 08 months', '78 years 11 months', '74 years 05 months',
       '66 years', '70 years', '70 years 02 months', '77 years 02 months',
       '70 years 03 months', '69 years 07 months', '63 years 02 months',
       '59 years 02 months', '61 years 11 months', '61 years 03 months',
       '60 years 11 months', '75 years 02 months', '76 years 10 months',
       '57 years 11 months', '54 years 05 months', '62 years 03 months',
       '59 years 07 months', '62 years 02 months', '64 years 05 months',
       '63 years 03 months', '82 years 10 months', '64 years 11 months',
       '72 years', '74 years 03 months', '80 years 04 months',
       '93 years 06 months', '68 years 11 months', '70 years 04 months',
       '86 years 07 months', '57 years 03 months', '49 years 04 months',
       '51 years 05 months', '52 years 11 months', '55 years 05 months',
       '56 years 11 months', '87 years 08 months', '61 years 08 months',
       '76 years 11 months', '77 years 06 months', '84 years 07 months',
       '87 years 01 month', '59 years 09 months', '92 years 11 months',
       '77 years', '76 years 09 months', '88 years 05 months',
       '50 years 11 months', '48 years 11 months', '58 years 05 months',
       '57 years 05 months', '94 years 03 months', '74 years 07 months',
       '64 years 07 months', '64 years 01 month', '80 years 08 months',
       '57 years 08 months', '58 years 09 months', '53 years 11 months',
       '55 years 11 months', '56 years 01 month', '88 years 08 months',
       '88 years 06 months', '92 years', '58 years 11 months',
       '76 years 02 months', '76 years 08 months', '75 years 09 months',
       '77 years 01 month', '89 years 10 months', '94 years 05 months',
       '92 years 05 months', '86 years 01 month', '92 years 06 months',
       '92 years 01 month', '94 years', '91 years 04 months',
       '89 years 06 months', '90 years 03 months', '91 years 06 months',
       '86 years', '90 years 10 months', '77 years 11 months',
       '50 years 04 months', '51 years 11 months', '58 years 01 month',
       '76 years 04 months', '82 years', '81 years 07 months',
       '65 years 11 months', '63 years 01 month', '63 years 10 months',
       '93 years 05 months', '93 years 04 months', '57 years 10 months',
       '55 years 10 months', '64 years 06 months', '87 years 09 months',
       '64 years 02 months', '55 years 07 months', '55 years 08 months',
       '74 years 01 month', '65 years 08 months', '75 years',
       '51 years 04 months', '54 years 10 months', '55 years 04 months',
       '51 years 10 months', '92 years 10 months', '56 years 10 months',
       '90 years 09 months', '87 years 07 months', '53 years 03 months',
       '77 years 03 months', '50 years 10 months', '48 years 10 months',
       '52 years 10 months', '93 years 09 months', '87 years 03 months',
       '63 years 11 months', '75 years 01 month', '72 years 01 month',
       '56 years 07 months', '57 years 07 months', '53 years 10 months',
       '72 years 09 months', '75 years 10 months', '88 years 02 months',
       '52 years 03 months', '54 years 04 months', '76 years 01 month',
       '72 years 06 months', '89 years 05 months', '52 years 04 months',
       '91 years 09 months', '90 years 02 months', '91 years 05 months',
       '50 years 03 months', '51 years 03 months', '49 years 03 months',
       '91 years 01 month', '76 years 03 months', '60 years 09 months',
       '74 years', '54 years 03 months', '52 years 09 months',
       '55 years 03 months', '54 years 09 months', '87 years 06 months',
       '92 years 09 months', '76 years 07 months', '88 years 09 months',
       '50 years 02 months', '53 years 09 months', '52 years 02 months',
       '50 years 09 months', '56 years 09 months', '76 years 06 months',
       '89 years 08 months', '51 years 09 months', '89 years 03 months',
       '91 years 08 months', '89 years 04 months', '90 years 01 month',
       '51 years 02 months', '49 years 02 months', '74 years 02 months',
       '93 years 03 months', '54 years 02 months', '73 years 11 months',
       '51 years 08 months', '54 years 08 months', '87 years 05 months',
       '92 years 08 months', '52 years 08 months', '48 years 08 months',
       '50 years 08 months', '50 years 01 month', '73 years 02 months',
       '55 years 02 months', '88 years 03 months', '89 years 02 months',
       '91 years 10 months', '53 years 02 months', '51 years 01 month',
       '54 years 01 month', '73 years 10 months', '50 years 07 months',
       '53 years 01 month', '87 years 04 months', '48 years 07 months',
       '51 years 07 months', '96 years 08 months', '89 years 01 month',
       '91 years', '76 years 05 months', '53 years 07 months', '50 years',
       '93 years 01 month', '48 years 06 months', '50 years 06 months',
       '73 years 01 month', '89 years 11 months', '96 years 07 months',
       '73 years 09 months', '73 years 08 months', '87 years 02 months',
       '49 years 10 months', '48 years 05 months', '96 years 06 months',
       '89 years 09 months', '49 years 11 months', '73 years 07 months',
       '48 years 04 months', '49 years 09 months', '53 years 04 months',
       '96 years 05 months', '73 years 06 months', '48 years 03 months',
       '49 years 08 months', '48 years', '96 years 04 months',
       '49 years 07 months', '48 years 02 months', '96 years 03 months',
       '73 years 05 months', '48 years 01 month', '49 years 06 months',
       '96 years 02 months', '47 years 09 months', '96 years 01 month',
       '47 years 11 months', '96 years', '95 years 11 months',
       '47 years 10 months', '73 years 03 months', '47 years 08 months',
       '47 years 04 months', '47 years 07 months', '47 years 06 months',
       '47 years 05 months', '47 years 02 months', '47 years 03 months',
       '47 years 01 month', '47 years', '46 years 11 months',
       '46 years 10 months', '46 years 09 months', '46 years 08 months',
       '66 years 0 months', '95 years 0 months', '46 years 07 months',
       '46 years 06 months', '46 years 03 months', '93 years 0 months',
       '46 years 05 months', '46 years 04 months', '46 years 01 month',
       '46 years 02 months', '46 years', '45 years 09 months',
       '45 years 11 months', '45 years 10 months', '45 years 07 months',
       '45 years 08 months', '97 years 01 month', '45 years 06 months',
       '97 years 09 months', '45 years 05 months', '45 years 04 months',
       '97 years', '97 years 07 months', '45 years 03 months',
       '45 years 02 months', '96 years 09 months', '45 years 01 month',
       '44 years 10 months', '97 years 05 months', '97 years 04 months',
       '45 years', '44 years 11 months', '97 years 03 months',
       '97 years 02 months', '44 years 09 months', '44 years 08 months',
       '96 years 11 months', '44 years 07 months', '44 years 06 months',
       '96 years 10 months', '44 years 05 months', '44 years 04 months',
       '44 years 03 months', '44 years 01 month', '44 years 02 months',
       '44 years', '43 years 11 months', '43 years 10 months',
       '43 years 09 months', '43 years 08 months', '43 years 07 months',
       '43 years 06 months', '43 years 05 months', '43 years 04 months',
       '43 years 03 months', '43 years 01 month', '43 years 02 months',
       '42 years 11 months', '42 years 10 months', '42 years 08 months',
       '42 years 07 months', '42 years 09 months', '42 years 05 months',
       '42 years 06 months', '42 years 04 months', '42 years 03 months',
       '42 years 02 months', '42 years 01 month', '43 years',
       '41 years 11 months', '41 years 10 months', '42 years',
       '41 years 09 months'], dtype=object)

In [ ]:
df_17ToTill['remaining_lease'] = df_17ToTill['remaining_lease'].str.split(' ').str[0].astype('int64')

In [ ]:
df_17ToTill.head(2)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60,250000.0

In [ ]:
# Concatenate the DataFrames
df = pd.concat([df_90to99, df_00to12, df_12to14, df_15to16, df_17ToTill], ignore_index=True)

# **DataFrame observation**

In [ ]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924447 entries, 0 to 924446
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                924447 non-null  object
 1   town                 924447 non-null  object
 2   flat_type            924447 non-null  object
 3   block                924447 non-null  object
 4   street_name          924447 non-null  object
 5   storey_range         924447 non-null  object
 6   floor_area_sqm       924447 non-null  float64
 7   flat_model           924447 non-null  object
 8   lease_commence_date  924447 non-null  int64
 9   resale_price         924447 non-null  float64
 10  remaining_lease      215397 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 77.6+ MB

In [ ]:
df.describe()

       floor_area_sqm  lease_commence_date  resale_price
count   924447.000000        924447.000000  9.244470e+05
mean        95.692743          1988.247593  3.199286e+05
std         25.829751            10.633223  1.697072e+05
min         28.000000          1966.000000  5.000000e+03
25%         73.000000          1981.000000  1.930000e+05
50%         93.000000          1986.000000  2.960000e+05
75%        113.000000          1996.000000  4.160000e+05
max        307.000000          2022.000000  1.568888e+06

In [ ]:
category_str = df.select_dtypes(include=['object']).columns

In [ ]:
df[category_str].describe()

,month,town,flat_type,block,street_name,storey_range,flat_model,remaining_lease
count,924447,924447,924447,924447,924447,924447,924447,215397
unique,412,27,8,2708,584,25,34,724
top,1999-03,TAMPINES,4 ROOM,2,YISHUN RING RD,04 TO 06,Model A,68
freq,6465,79775,351218,4579,17578,232022,193686,2328

In [ ]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

# **Data cleaning**

In [ ]:
#Handling null values

In [ ]:
#remaining_lease column values
(215397 / 924447)*100

23.300091838688427

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
df.drop(['remaining_lease'], axis = 1, inplace=True)

In [ ]:
#Handling duplicate values

In [ ]:
df.duplicated().sum()

1968

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.month.unique()

array(['1990-01', '1990-02', '1990-03', '1990-04', '1990-05', '1990-06',
       '1990-07', '1990-08', '1990-09', '1990-10', '1990-11', '1990-12',
       '1991-01', '1991-02', '1991-03', '1991-04', '1991-05', '1991-06',
       '1991-07', '1991-08', '1991-09', '1991-10', '1991-11', '1991-12',
       '1992-01', '1992-02', '1992-03', '1992-04', '1992-05', '1992-06',
       '1992-07', '1992-08', '1992-09', '1992-10', '1992-11', '1992-12',
       '1993-01', '1993-02', '1993-03', '1993-04', '1993-05', '1993-06',
       '1993-07', '1993-08', '1993-09', '1993-10', '1993-11', '1993-12',
       '1994-01', '1994-02', '1994-03', '1994-04', '1994-05', '1994-06',
       '1994-07', '1994-08', '1994-09', '1994-10', '1994-11', '1994-12',
       '1995-01', '1995-02', '1995-03', '1995-04', '1995-05', '1995-06',
       '1995-07', '1995-08', '1995-09', '1995-10', '1995-11', '1995-12',
       '1996-01', '1996-02', '1996-03', '1996-04', '1996-05', '1996-06',
       '1996-07', '1996-08', '1996-09', '1996-10', '1996-11', '1996-12',
       '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06',
       '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12',
       '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06',
       '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12',
       '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06',
       '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12',
       '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
       '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
       '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
       '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06',
       '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12',
       '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06',
       '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12',
       '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
       '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
       '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
       '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
       '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
       '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
       '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
       '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
       '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
       '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
       '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
       '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
       '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
       '2023-01', '2023-07', '2023-08', '2023-11', '2023-02', '2023-03',
       '2023-04', '2023-05', '2023-06', '2023-09', '2023-12', '2023-10',
       '2024-02', '2024-04', '2024-01', '2024-03'], dtype=object)

In [ ]:
df[['Year', 'Month']] = df['month'].str.split('-', expand=True)

In [ ]:
df['Year'] = df['Year'].astype(int)
df['Month'] = df['Month'].astype(int)

In [ ]:
#town
df.town.unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG', 'CLEMENTI',
       'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'QUEENSTOWN', 'SENGKANG',
       'SERANGOON', 'TAMPINES', 'TOA PAYOH', 'WOODLANDS', 'YISHUN',
       'LIM CHU KANG', 'SEMBAWANG', 'BUKIT PANJANG', 'PASIR RIS',
       'PUNGGOL'], dtype=object)

In [ ]:
df.town.value_counts()

town
TAMPINES           79657
YISHUN             69768
JURONG WEST        66349
BEDOK              66340
WOODLANDS          65202
ANG MO KIO         51825
HOUGANG            50530
BUKIT BATOK        44165
CHOA CHU KANG      38132
BUKIT MERAH        34189
PASIR RIS          33088
SENGKANG           32213
TOA PAYOH          31359
QUEENSTOWN         28639
GEYLANG            28044
CLEMENTI           27914
BUKIT PANJANG      27561
KALLANG/WHAMPOA    27024
JURONG EAST        24669
SERANGOON          22754
BISHAN             21203
PUNGGOL            20410
SEMBAWANG          13747
MARINE PARADE       7996
CENTRAL AREA        7124
BUKIT TIMAH         2514
LIM CHU KANG          63
Name: count, dtype: int64

In [ ]:
#flat_type
df.flat_type.unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION', 'MULTI-GENERATION'], dtype=object)

In [ ]:
df.flat_type.value_counts()

flat_type
4 ROOM              350586
3 ROOM              294351
5 ROOM              194587
EXECUTIVE            69428
2 ROOM               11712
1 ROOM                1272
MULTI GENERATION       279
MULTI-GENERATION       264
Name: count, dtype: int64

In [ ]:
#block
df.block.unique()

array(['309', '216', '211', ..., '606C', '605D', '606D'], dtype=object)

In [ ]:
df.block.value_counts()

block
2       4561
1       4019
110     3397
101     3395
4       3326
8       3294
113     3285
107     3198
3       3198
114     3182
108     3118
6       2998
102     2965
109     2965
5       2914
7       2885
112     2878
105     2859
111     2858
115     2823
116     2813
103     2795
106     2611
120     2574
124     2557
34      2549
13      2486
22      2478
9       2455
20      2444
122     2424
130     2410
210     2407
12      2406
125     2390
211     2355
121     2337
10      2322
117     2288
128     2278
11      2258
32      2232
126     2232
119     2223
104     2201
21      2151
30      2078
129     2063
17      2052
123     2036
33      2023
24      2023
28      2012
208     1994
23      1989
202     1960
213     1939
142     1923
44      1914
118     1862
204     1857
205     1853
407     1849
230     1844
15      1840
19      1834
411     1814
138     1808
212     1806
403     1801
16      1794
54      1793
146     1793
406     1775
219     1763
417     1763
214     1763
229     1761
134     1760
127     1754
18      1748
232     1742
148     1741
206     1740
419     1737
135     1724
131     1708
141     1706
157     1705
231     1701
217     1688
35      1687
145     1680
408     1674
412     1673
43      1648
302     1625
409     1620
132     1609
215     1606
31      1604
308     1601
304     1599
201     1588
139     1586
534     1578
216     1570
51      1566
140     1561
401     1560
416     1557
425     1555
402     1554
241     1550
410     1545
207     1542
405     1540
218     1528
225     1526
137     1526
321     1525
248     1518
55      1513
234     1512
57      1507
154     1503
421     1501
27      1500
161     1499
306     1497
36      1497
53      1494
233     1491
426     1488
244     1487
209     1483
45      1481
221     1480
203     1477
172     1462
50      1457
14      1454
414     1443
329     1437
60      1435
309     1428
427     1425
171     1423
418     1421
413     1417
322     1416
160     1414
235     1412
227     1406
620     1406
26      1404
331     1402
223     1396
305     1394
533     1393
540     1391
247     1380
423     1374
704     1374
170     1373
330     1369
420     1367
319     1367
249     1367
151     1361
40      1352
404     1349
503     1347
150     1347
307     1344
701     1338
149     1332
536     1332
501     1327
506     1327
236     1320
133     1316
59      1313
185     1312
143     1307
535     1304
511     1304
346     1297
327     1295
313     1295
504     1293
165     1291
220     1289
301     1282
602     1279
228     1277
62      1273
513     1265
63      1264
155     1262
136     1261
320     1260
415     1259
422     1256
25      1255
345     1255
240     1254
709     1253
706     1251
703     1243
510     1238
323     1238
238     1235
243     1230
303     1220
610     1220
237     1218
52      1216
336     1213
324     1213
64      1212
520     1210
37      1207
226     1199
147     1196
507     1196
542     1196
250     1195
222     1190
332     1182
254     1180
512     1174
242     1172
239     1169
341     1166
611     1163
167     1161
310     1160
607     1159
144     1158
312     1157
163     1154
316     1150
38      1147
42      1145
325     1144
153     1140
29      1139
257     1136
523     1134
627     1129
65      1127
710     1127
311     1125
186     1124
550     1124
328     1121
173     1117
156     1111
159     1107
272     1101
440     1101
339     1101
518     1101
58      1100
263     1099
524     1095
508     1092
158     1089
187     1087
424     1085
351     1084
354     1084
253     1083
612     1082
605     1082
252     1080
528     1079
314     1078
712     1076
326     1075
343     1068
613     1067
502     1061
251     1058
505     1058
428     1055
435     1050
264     1049
168     1048
516     1045
609     1045
333     1041
707     1040
166     1040
633     1037
317     1032
164     1030
514     1029
509     1026
334     1022
47      1021
152     1019
267     1018
714     1014
66      1013
77      1011
716     1009
554     1009
532     1008
626     1007
521     1007
169     1005
643     1004
537     1004
246     1003
245     1000
82      1000
46       998
631      996
541      991
515      991
75       990
603      990
635      990
96       983
178      982
601      982
437      981
224      980
83       980
348      976
702      974
639      974
98       974
433      972
606      971
337      960
545      958
429      955
621      954
637      951
97       947
56       946
271      938
255      937
265      936
547      935
604      929
526      926
61       924
445      922
450      921
259      919
162      919
335      919
95       918
715      917
529      916
549      916
180      915
81       915
269      914
525      913
318      910
463      909
283      904
629      904
363      903
352      902
349      901
711      898
41       896
48       896
608      891
617      889
615      883
717      883
93       878
195      878
444      876
256      875
728      872
174      870
467      870
456      868
91       865
519      864
713      862
619      860
436      859
175      858
539      857
725      857
708      856
270      853
458      851
49       849
634      849
640      846
642      838
644      835
177      835
538      832
274      825
705      823
443      821
527      816
448      813
315      813
182      813
181      812
623      812
718      811
430      811
449      805
340      804
76       802
646      801
434      800
350      798
552      796
74       794
465      794
86       793
457      793
522      784
461      784
546      783
462      782
531      781
625      778
69       771
266      770
548      768
262      767
722      765
729      764
100      763
630      763
275      762
367      762
68       759
724      759
39       757
551      753
530      749
614      748
636      747
442      744
553      743
543      739
622      736
338      731
459      727
474      724
260      723
624      722
439      720
470      719
616      718
431      715
721      714
261      713
632      710
432      708
455      706
720      697
774      695
556      695
353      693
618      692
723      691
473      690
273      690
466      686
557      683
446      679
67       677
258      675
484      674
99       674
72       671
289      671
365      670
649      669
454      664
476      664
469      661
288      659
472      656
183      655
471      652
517      650
280      647
719      646
357      644
287      640
739      637
87       636
276      634
662      632
364      629
558      628
286      627
645      623
853      622
451      620
347      617
804      616
447      611
359      609
176      608
460      608
277      605
475      604
361      603
355      603
736      602
453      602
660      598
441      596
362      595
638      594
73       593
559      589
628      589
641      588
268      585
481      583
770      577
544      576
730      576
179      573
742      572
284      570
452      568
840      567
366      564
762      563
661      562
438      560
468      557
771      557
360      555
731      554
851      554
278      553
766      551
756      548
483      548
726      545
854      542
759      541
760      540
740      540
371      538
741      537
571      536
88       533
773      530
658      530
575      528
79       528
734      525
89       525
90       524
755      524
751      523
293      523
560      521
368      521
285      519
842      518
344      517
648      515
486      514
477      513
78       511
803      507
480      506
194      505
855      504
735      502
752      501
570      501
738      500
838      498
184      498
647      495
852      494
652      494
565      493
765      493
754      492
655      489
836      486
839      485
758      484
769      482
830      481
564      481
816      480
94       479
358      477
657      477
805      474
193      470
843      469
825      469
757      469
651      468
727      467
764      467
733      467
868      467
85       461
772      460
810      459
745      459
864      459
342      456
761      453
291      453
279      452
737      451
92       451
555      448
464      443
749      441
746      440
929      438
850      438
485      437
925      436
845      434
879      432
832      432
374      432
846      431
84       430
833      429
653      428
841      426
910      425
191      422
806      421
862      419
775      415
763      414
750      412
909      411
297      409
650      409
808      407
356      407
861      407
875      406
824      405
71       403
665      403
867      398
577      398
294      397
669      395
576      394
732      391
809      391
296      391
561      391
281      390
369      389
663      388
866      387
744      386
199      386
190      386
865      385
776      380
812      380
858      379
478      378
874      374
370      373
767      371
666      371
873      371
807      370
667      370
295      367
802      365
394      365
188      364
790      364
487      363
298      363
578      361
914      361
936      355
911      355
877      354
926      354
860      353
282      353
753      351
395      351
916      351
813      349
859      347
915      347
821      346
922      345
586      344
856      343
814      343
863      342
837      342
70       342
393      341
829      337
834      336
778      334
747      333
820      333
835      332
748      332
848      332
585      331
743      331
930      330
801      329
831      329
388      329
847      329
656      327
482      326
768      326
391      322
562      320
668      319
826      316
573      316
871      314
817      311
80       309
168A     307
192      306
928      305
372      303
677      302
939      302
932      299
390      296
572      296
479      295
671      294
818      293
878      293
902      293
389      289
815      289
811      288
290      288
681      288
684A     288
659      287
872      287
940      287
819      287
491      284
686B     283
686A     282
784      281
568      281
921      280
673      280
569      279
678      276
587      276
942      274
308A     273
844      273
907      271
663A     270
584      269
386      268
567      263
788      263
880      262
899A     262
693      261
492      261
200      261
689      260
680      260
897A     259
912      258
196      258
688      254
654      254
664      254
917      254
924      253
944      252
197      250
392      250
941      249
896A     247
827      247
288C     247
876      246
695      246
684C     246
670      246
792      244
690      243
934      242
672A     242
373      242
870      241
857      239
943      239
201D     238
189      238
1A       237
310B     236
375      236
945      235
683A     233
777      232
795      232
673A     232
828      230
385      230
903      229
684B     229
894A     229
881      228
892A     226
791      226
796      226
686C     225
292      223
489      221
566      220
315A     220
935      219
933      219
308B     219
781      219
682      218
684      217
913      217
794      215
563      215
104A     215
783      215
399      215
946      214
664A     211
2A       211
938      211
690D     210
288A     209
273B     208
685B     208
384      208
308C     208
685C     207
898A     207
696      207
672      206
397      206
580      206
785      206
683C     205
275A     205
789      204
273D     204
119B     203
687C     202
682C     201
379      201
931      201
14A      200
579      200
895A     200
288B     200
387      199
882      199
490      199
377      198
671A     198
316A     197
574      197
685      197
849      196
288D     196
687B     195
322A     195
920      195
27A      194
381      193
683B     192
688A     192
310A     192
674      191
299      191
488      190
679      190
273A     186
688B     186
923      184
268C     184
786D     183
450A     183
291D     183
670A     183
823      182
104B     182
311B     180
10B      180
273C     179
798      179
269B     179
376      178
271A     177
225A     177
296A     177
296B     177
500      176
383      176
684D     175
85A      175
315B     175
489A     174
290B     173
786      173
787C     173
884      173
335A     173
291A     172
657B     171
289A     170
489C     170
469B     170
919      170
297A     169
3A       168
289B     168
869      168
485B     167
272B     167
787D     167
689B     166
290A     166
311A     166
681C     166
23A      166
688C     166
311C     166
687A     165
686      165
779      165
690A     165
85B      165
908      164
271B     164
787      163
906      163
85C      162
904      161
883      161
692      160
5A       160
786B     159
786C     159
937      159
976      158
683      158
303B     158
126A     158
271C     158
467A     157
119C     156
694      156
312B     156
469A     155
124B     155
272C     155
894      154
950      154
306C     153
297B     153
291C     153
671B     153
675      153
628B     153
506A     152
842B     152
450C     152
885      151
889A     151
467B     151
126C     151
685A     151
2C       151
198      150
691A     150
692B     150
691      149
891A     149
121A     148
673C     148
291B     148
889      148
309A     147
299A     147
690C     147
296C     146
204A     146
977      146
203A     146
201B     145
691B     145
489B     145
289D     145
953      144
4B       144
682A     143
487B     143
272D     143
335B     143
895C     142
120A     142
822      142
272A     141
312A     140
138C     140
292B     140
697      139
897B     139
676      138
221A     138
485A     138
927      138
588C     138
918      137
864A     136
613B     136
898      136
183C     135
116A     135
797      135
690B     135
268B     134
268A     133
893A     133
897C     133
117A     133
288E     132
786E     132
407A     132
502A     132
303C     132
298A     132
674A     131
952      131
842G     131
782      131
689A     130
898B     130
667A     130
289E     130
800      129
275C     129
175A     128
655B     128
842H     128
183D     128
106A     128
259C     128
298B     128
668A     127
269A     127
504D     126
138B     126
128A     126
290D     125
316C     125
787B     125
180A     125
667B     125
892B     124
891B     124
487C     124
80A      124
965      124
488A     123
138A     123
672B     123
290C     123
287A     123
682B     121
497H     120
219A     120
657A     120
664B     120
103A     120
687      120
899B     119
650A     119
663C     119
289C     118
291E     118
310C     118
286A     118
339A     118
676B     118
119D     118
286C     118
859A     118
203B     117
131B     117
39A      117
17A      117
793      117
663B     117
406C     117
108C     117
302A     116
497C     116
299B     116
201A     116
275B     116
139A     116
173A     116
79A      116
269C     115
655A     115
23B      115
207D     115
681B     115
895      115
588B     115
679C     115
303A     115
260A     114
899      114
286B     114
681A     114
668C     114
673B     114
468A     114
295A     114
108B     114
10A      113
407B     113
624A     113
668B     113
274B     113
624B     113
302B     113
582      113
493D     113
260B     112
961      112
484D     112
674B     112
180B     112
871A     112
339B     112
888      112
79E      111
270A     111
484A     111
676A     111
290G     111
635A     111
896C     111
120B     110
185B     110
979      110
504C     110
861A     109
316B     109
314B     109
443C     109
290E     109
862A     109
121D     108
298D     108
583      108
306B     108
660A     108
497B     107
213A     107
274A     107
172A     107
441B     107
628A     107
261B     107
101B     107
490A     107
987C     107
226A     107
306A     107
799      107
899C     106
202A     106
305A     106
305D     106
122A     106
588A     106
443A     105
217B     105
289F     105
636B     105
430A     105
101A     105
666A     105
183A     104
443B     104
661C     104
312C     104
787E     104
259A     104
486B     104
486A     104
307C     104
484C     104
287B     104
313C     103
274D     103
267A     103
275D     103
662B     103
596C     103
313B     103
496C     103
692A     102
487A     102
488B     102
496D     102
403D     102
268D     102
396      102
501A     102
894B     102
887      102
497G     102
183B     101
669B     101
894D     101
780      101
290F     101
109A     101
504B     100
185C     100
408C     100
117B     100
8B       100
184C     100
180C     100
121B     100
209C     100
289G     100
301C     100
107A     100
975      100
287C      99
659C      99
317A      99
496E      99
1B        99
305B      99
205A      99
1G        98
176D      98
897       98
139B      98
688F      98
470A      98
468B      98
315C      98
2B        98
259B      98
116B      98
856C      98
201C      98
1C        98
484B      98
494B      97
663D      97
874A      97
896B      97
867A      97
94C       97
636A      97
298C      97
896       97
188B      97
664D      97
661A      97
210C      97
1E        97
18A       97
496B      97
966       96
987B      96
128C      96
491D      95
201E      95
271D      95
211D      95
124A      95
888A      95
470B      95
208B      95
596D      95
491C      95
286D      94
660D      94
635B      94
581       94
498       94
103B      94
506B      94
109B      94
589       94
63B       94
314A      94
440C      94
166B      93
110A      93
661B      93
115B      93
317B      93
2D        93
891       93
689D      93
301B      93
856B      92
274C      92
895B      92
970       92
650B      92
398       92
318C      92
507A      92
659B      92
223A      92
202B      92
699       92
212A      92
686D      92
653A      92
28B       92
318B      92
948       91
432A      91
162A      91
494C      91
105A      91
261A      91
668D      90
664C      90
288G      90
471B      90
408B      90
258A      90
26B       90
213B      90
440B      90
267B      90
404B      89
493       89
196B      89
204C      89
208A      89
1F        89
436A      89
313A      89
232A      89
491F      89
295B      89
678A      89
698       88
166A      88
212B      88
211C      88
445B      88
185D      88
209A      88
682D      88
319C      88
293D      88
665A      88
491G      88
980       88
471A      88
445A      88
493E      88
79B       88
121C      87
788C      87
485D      87
188C      87
204B      87
211B      87
491H      87
987A      87
441A      87
492C      87
210A      86
187A      86
476B      86
450D      86
894C      86
319B      86
698B      86
257C      86
524A      86
498A      85
285B      85
106B      85
1D        85
302D      85
276A      85
200A      85
969       85
301A      85
25B       85
75B       84
498D      84
501B      84
496G      84
230C      84
677A      84
498F      84
107B      84
80B       84
357A      83
77A       83
207A      83
333A      83
856D      83
128B      83
217A      83
700B      82
261C      82
325B      82
625A      82
187B      82
683D      82
157D      81
341A      81
203E      81
667C      81
498G      81
206A      81
508B      81
984D      81
26D       81
613A      81
476C      81
206C      81
653C      81
680C      81
297D      81
633B      81
633A      81
490B      80
301D      80
76A       80
157A      80
118D      80
700C      80
357B      80
658C      80
360C      80
658A      80
171C      80
890B      79
118A      79
295C      79
171A      79
588       79
589B      79
468C      79
509A      79
258C      79
18D       78
886       78
988C      78
157B      78
300       78
302C      78
305C      78
452A      78
340A      78
172C      78
130B      78
194B      78
356C      78
807A      78
124C      78
260C      78
508A      78
678C      78
890A      77
524B      77
162B      77
492B      77
432B      77
226C      77
266C      77
947       77
690F      77
968       77
689E      77
131C      77
163A      77
359B      77
498H      77
486C      77
119A      76
596A      76
209B      76
356B      76
341B      76
359A      76
340B      76
176A      76
204D      76
408A      76
470C      76
334B      76

In [ ]:
#street_name
df.street_name.value_counts()

street_name
YISHUN RING RD            17578
BEDOK RESERVOIR RD        14698
ANG MO KIO AVE 10         13784
ANG MO KIO AVE 3          12135
HOUGANG AVE 8              9349
TAMPINES ST 21             8285
BEDOK NTH ST 3             7561
BEDOK NTH RD               7458
ANG MO KIO AVE 4           7207
MARSILING DR               6645
JURONG WEST ST 42          6574
ANG MO KIO AVE 5           6415
SIMEI ST 1                 5512
LOR 1 TOA PAYOH            5498
BT BATOK WEST AVE 6        5441
JURONG EAST ST 21          5310
CIRCUIT RD                 5279
CLEMENTI AVE 4             5054
ANG MO KIO AVE 1           5053
TAMPINES ST 22             5038
YISHUN ST 11               4890
YISHUN ST 21               4879
JURONG WEST ST 81          4779
YISHUN ST 61               4718
WOODLANDS ST 13            4708
BISHAN ST 13               4697
UBI AVE 1                  4671
JURONG WEST ST 52          4660
YISHUN ST 81               4582
TECK WHYE LANE             4507
PASIR RIS ST 21            4476
TAMPINES ST 41             4465
JURONG WEST ST 41          4371
YISHUN AVE 6               4368
BISHAN ST 12               4357
PASIR RIS DR 6             4332
SERANGOON NTH AVE 1        4264
PASIR RIS ST 11            4200
CHOA CHU KANG AVE 4        4196
HOUGANG AVE 10             4108
CHOA CHU KANG CRES         4073
WOODLANDS RING RD          4030
BOON LAY PL                4014
TAMPINES ST 83             3867
HOUGANG AVE 1              3865
TEBAN GDNS RD              3833
BT BATOK EAST AVE 5        3815
JURONG WEST ST 91          3805
JURONG WEST ST 65          3786
JURONG WEST AVE 1          3743
HOUGANG AVE 5              3733
CLEMENTI AVE 2             3727
TANGLIN HALT RD            3697
PASIR RIS ST 71            3694
SERANGOON NTH AVE 4        3669
YISHUN AVE 5               3640
CLEMENTI WEST ST 2         3628
WOODLANDS CIRCLE           3615
YISHUN ST 72               3608
YISHUN ST 22               3553
PUNGGOL FIELD              3497
BT BATOK ST 21             3451
TAMPINES ST 81             3451
BT PANJANG RING RD         3418
BT BATOK ST 31             3412
PETIR RD                   3401
JURONG EAST ST 24          3348
HOUGANG AVE 3              3344
YISHUN AVE 11              3338
RIVERVALE DR               3309
JELAPANG RD                3302
LOR 8 TOA PAYOH            3283
YISHUN AVE 4               3254
TELOK BLANGAH CRES         3245
C'WEALTH DR                3244
WOODLANDS DR 50            3230
WOODLANDS DR 14            3187
CHOA CHU KANG AVE 3        3175
JURONG WEST ST 61          3151
JLN BT MERAH               3138
CHOA CHU KANG CTRL         3133
BOON LAY AVE               3129
NEW UPP CHANGI RD          3117
TAMPINES ST 11             3091
CLEMENTI AVE 5             3042
TAMPINES ST 45             3033
BT BATOK ST 52             3031
PENDING RD                 3003
TAMPINES ST 12             3002
YISHUN ST 71               2974
SENJA RD                   2969
SERANGOON AVE 4            2965
MARINE TER                 2962
POTONG PASIR AVE 1         2962
JURONG EAST ST 32          2957
BT BATOK WEST AVE 8        2927
EUNOS CRES                 2912
TAMPINES ST 71             2911
PUNGGOL CTRL               2901
TAMPINES ST 82             2892
PASIR RIS ST 51            2863
BOON LAY DR                2857
TAMPINES ST 33             2835
BEDOK NTH ST 2             2832
GHIM MOH RD                2818
EDGEFIELD PLAINS           2815
BEDOK STH RD               2788
LOR 7 TOA PAYOH            2761
PUNGGOL DR                 2744
BISHAN ST 22               2743
WOODLANDS ST 41            2738
GEYLANG BAHRU              2738
SERANGOON AVE 2            2731
WOODLANDS AVE 6            2707
JURONG WEST ST 64          2689
HOUGANG ST 51              2675
RIVERVALE CRES             2671
BEDOK NTH AVE 4            2663
SERANGOON AVE 3            2657
TAMPINES AVE 4             2633
SERANGOON CTRL             2619
EDGEDALE PLAINS            2618
BT BATOK EAST AVE 4        2606
CLEMENTI AVE 3             2604
TAMPINES ST 91             2600
TAMPINES ST 42             2594
MARINE CRES                2573
WOODLANDS ST 82            2529
WHAMPOA DR                 2524
TELOK BLANGAH DR           2518
WOODLANDS DR 16            2498
HOUGANG AVE 6              2496
ANG MO KIO AVE 6           2493
MARINE DR                  2481
BT BATOK CTRL              2475
SEGAR RD                   2462
WEST COAST RD              2450
LOR 2 TOA PAYOH            2439
BEDOK NTH AVE 2            2397
FAJAR RD                   2380
FERNVALE RD                2365
TOH GUAN RD                2362
ADMIRALTY DR               2361
ALJUNIED CRES              2332
BEDOK NTH AVE 1            2312
HOUGANG ST 91              2298
BEDOK NTH AVE 3            2298
CHAI CHEE RD               2286
TAMPINES ST 23             2281
TELOK BLANGAH HTS          2260
PASIR RIS DR 4             2220
CHAI CHEE ST               2205
BEDOK STH AVE 2            2203
SIN MING AVE               2197
SEMBAWANG DR               2187
TAMPINES ST 43             2186
WOODLANDS AVE 1            2185
UPP BOON KENG RD           2169
BT BATOK ST 34             2160
LOR AH SOO                 2157
LOR 4 TOA PAYOH            2148
CLEMENTI WEST ST 1         2144
TAMPINES ST 32             2136
WOODLANDS ST 83            2136
LOR 5 TOA PAYOH            2132
BISHAN ST 23               2107
GANGSA RD                  2106
JURONG WEST CTRL 1         2074
PASIR RIS ST 12            2058
TOA PAYOH NTH              2047
CHOA CHU KANG AVE 2        2034
BANGKIT RD                 2030
ANCHORVALE LINK            2005
HOUGANG AVE 4              1991
JURONG EAST ST 13          1985
PANDAN GDNS                1950
TAMPINES AVE 5             1944
STIRLING RD                1943
WOODLANDS CRES             1925
BT PURMEI RD               1921
CANBERRA RD                1917
COMPASSVALE ST             1906
HOLLAND AVE                1864
HOLLAND DR                 1862
CHOA CHU KANG ST 51        1861
BENDEMEER RD               1821
BISHAN ST 24               1819
CHOA CHU KANG ST 62        1816
BALAM RD                   1800
MEI LING ST                1796
ANG MO KIO AVE 8           1754
ANCHORVALE RD              1737
BT BATOK ST 33             1722
WOODLANDS DR 75            1721
PASIR RIS ST 52            1713
ST. GEORGE'S RD            1712
MARSILING LANE             1712
C'WEALTH CL                1712
BT MERAH VIEW              1700
SEMBAWANG CL               1676
CHOA CHU KANG ST 52        1670
COMPASSVALE WALK           1666
HOLLAND CL                 1657
HOUGANG AVE 2              1635
BT BATOK ST 32             1625
HOUGANG AVE 7              1621
HOUGANG ST 61              1615
WOODLANDS ST 81            1611
HAIG RD                    1609
TAMPINES ST 34             1603
TOH YI DR                  1587
WOODLANDS ST 31            1584
JURONG EAST AVE 1          1580
DOVER CRES                 1576
BEDOK STH AVE 3            1575
BT BATOK EAST AVE 3        1563
BT BATOK WEST AVE 4        1562
YISHUN CTRL                1540
CHOA CHU KANG AVE 5        1538
YISHUN AVE 3               1531
BT BATOK ST 11             1531
BEDOK NTH ST 1             1531
SIMS DR                    1527
SHUNFU RD                  1504
JLN BATU                   1495
ADMIRALTY LINK             1493
PUNGGOL PL                 1469
TAMPINES AVE 9             1467
TAMPINES ST 84             1459
MARSILING RISE             1455
MCNAIR RD                  1448
JURONG WEST ST 71          1444
FERNVALE LINK              1442
JLN BAHAGIA                1438
COMPASSVALE RD             1423
C'WEALTH CRES              1412
WOODLANDS AVE 4            1405
TECK WHYE AVE              1403
CHOA CHU KANG NTH 6        1396
JURONG EAST ST 31          1394
SIMEI ST 4                 1390
JURONG WEST ST 92          1382
BEDOK STH AVE 1            1379
PASIR RIS DR 10            1377
HOUGANG AVE 9              1375
WOODLANDS DR 60            1368
STRATHMORE AVE             1361
PUNGGOL WALK               1359
TAMPINES ST 24             1348
WEST COAST DR              1347
SENGKANG EAST WAY          1334
KIM KEAT AVE               1333
CLEMENTI AVE 1             1328
BT BATOK WEST AVE 5        1311
HO CHING RD                1298
PASIR RIS DR 1             1293
WOODLANDS ST 32            1291
JURONG WEST ST 93          1279
BT BATOK ST 25             1265
REDHILL CL                 1257
KIM TIAN RD                1243
TAMPINES ST 72             1235
COMPASSVALE LINK           1235
JURONG WEST ST 73          1226
COMPASSVALE LANE           1220
JLN TENAGA                 1199
TELOK BLANGAH RISE         1196
JLN TECK WHYE              1188
CHAI CHEE AVE              1183
WOODLANDS DR 70            1181
YISHUN AVE 2               1180
BEDOK RESERVOIR VIEW       1171
JOO SENG RD                1167
DEPOT RD                   1166
COMPASSVALE CRES           1163
TAMPINES ST 44             1155
YISHUN AVE 9               1154
JLN MEMBINA                1138
TAMPINES AVE 8             1132
BUANGKOK CRES              1129
COMPASSVALE DR             1124
KANG CHING RD              1101
RIVERVALE ST               1089
GEYLANG EAST AVE 1         1088
HOUGANG ST 22              1063
JURONG WEST AVE 5          1058
BT BATOK ST 24             1053
LOR LEW LIAN               1043
SERANGOON NTH AVE 3        1032
RIVERVALE WALK             1030
TOA PAYOH CTRL             1028
SIMEI RD                   1008
TG PAGAR PLAZA             1005
BT BATOK ST 51              994
WELLINGTON CIRCLE           992
HOUGANG CTRL                988
BT BATOK WEST AVE 2         985
PAYA LEBAR WAY              982
ELIAS RD                    980
PASIR RIS ST 53             979
CHOA CHU KANG NTH 5         974
KALLANG BAHRU               971
ANCHORVALE DR               962
YISHUN AVE 7                962
CLEMENTI ST 13              947
PASIR RIS ST 72             943
WOODLANDS DR 73             943
TOA PAYOH EAST              942
LENGKONG TIGA               940
TAH CHING RD                939
TAMAN HO SWEE               921
JURONG WEST ST 74           917
HAVELOCK RD                 889
WOODLANDS DR 52             886
WOODLANDS AVE 5             885
JLN RUMAH TINGGI            884
WOODLANDS DR 62             883
JLN RAJAH                   883
HOUGANG ST 52               865
CASSIA CRES                 854
LENGKOK BAHRU               852
CHOA CHU KANG DR            845
HENDERSON CRES              831
ANG MO KIO AVE 9            829
PASIR RIS DR 3              826
TOWNER RD                   816
ST. GEORGE'S LANE           812
WOODLANDS DR 40             809
CHOA CHU KANG AVE 1         798
BISHAN ST 11                788
DOVER RD                    779
PASIR RIS ST 13             774
BEDOK NTH ST 4              771
C'WEALTH AVE WEST           765
POTONG PASIR AVE 3          760
HOUGANG ST 21               749
SEMBAWANG CRES              746
PUNGGOL WAY                 744
SIN MING RD                 741
CHOA CHU KANG ST 53         729
SERANGOON AVE 1             724
CHAI CHEE DR                711
TAMPINES CTRL 7             704
LOMPANG RD                  703
KIM KEAT LINK               682
HOUGANG ST 11               682
HOUGANG ST 92               681
YISHUN ST 51                675
SENGKANG WEST WAY           673
WOODLANDS DR 42             670
MARSILING RD                662
MARSILING CRES              658
BOON KENG RD                655
CANTONMENT RD               650
CANTONMENT CL               649
UPP SERANGOON CRES          643
ANG MO KIO ST 52            626
UPP CROSS ST                620
BEACH RD                    612
PINE CL                     612
JLN DAMAI                   612
CLEMENTI AVE 6              612
CASHEW RD                   607
MONTREAL DR                 606
DAWSON RD                   602
JURONG WEST ST 25           590
CHOA CHU KANG ST 64         588
SIMEI ST 2                  571
SERANGOON NTH AVE 2         569
WOODLANDS DR 44             565
CORPORATION DR              565
FERNVALE LANE               565
BOON TIONG RD               563
EVERTON PK                  561
PIPIT RD                    551
JLN TENTERAM                547
REDHILL RD                  547
QUEEN'S CL                  543
EUNOS RD 5                  536
JLN BT HO SWEE              533
LOR LIMAU                   531
JURONG WEST ST 24           530
PUNGGOL RD                  528
QUEEN'S RD                  528
YUNG KUANG RD               527
JLN KLINIK                  522
YUNG PING RD                513
SUMANG WALK                 513
LOR 6 TOA PAYOH             513
SERANGOON CTRL DR           513
SAUJANA RD                  512
SELEGIE RD                  502
CHOA CHU KANG ST 54         495
YUNG AN RD                  493
JELEBU RD                   491
KEAT HONG CL                488
GHIM MOH LINK               486
SUMANG LANE                 483
LOR 1A TOA PAYOH            483
WOODLANDS DR 53             482
SPOTTISWOODE PK RD          481
LOR 3 TOA PAYOH             481
ANG MO KIO ST 32            477
WOODLANDS AVE 3             472
DELTA AVE                   467
WOODLANDS ST 11             465
CANBERRA ST                 460
UPP ALJUNIED LANE           459
JURONG WEST AVE 3           458
DAKOTA CRES                 456
BEO CRES                    455
TAMPINES AVE 7              452
WOODLANDS DR 72             452
SIMEI ST 5                  449
ANCHORVALE CRES             447
WHAMPOA RD                  443
MACPHERSON LANE             442
COMPASSVALE BOW             441
VEERASAMY RD                439
TELOK BLANGAH WAY           436
SENGKANG CTRL               435
DORSET RD                   429
HILLVIEW AVE                427
HOY FATT RD                 424
FARRER PK RD                419
ANCHORVALE LANE             416
WHAMPOA WEST                415
CRAWFORD LANE               413
YISHUN ST 31                412
YUNG SHENG RD               406
JLN KUKOH                   399
CAMBRIDGE RD                396
CHOA CHU KANG LOOP          394
KIM TIAN PL                 393
DOVER CL EAST               393
ROWELL RD                   391
RACE COURSE RD              389
CHOA CHU KANG AVE 7         382
GEYLANG SERAI               381
SEMBAWANG VISTA             379
BT MERAH CTRL               367
ANG MO KIO ST 31            367
SIMS PL                     357
BT BATOK ST 22              354
ZION RD                     354
UPP SERANGOON RD            354
TELOK BLANGAH ST 31         351
BUANGKOK LINK               350
JURONG WEST ST 75           347
BUFFALO RD                  341
POTONG PASIR AVE 2          340
WOODLANDS DR 71             328
NTH BRIDGE RD               328
KELANTAN RD                 326
GLOUCESTER RD               323
C'WEALTH AVE                323
BEDOK CTRL                  321
BT BATOK WEST AVE 7         320
YUAN CHING RD               319
SENGKANG EAST AVE           318
SENGKANG EAST RD            318
PUNGGOL EAST                310
WOODLANDS AVE 9             306
MONTREAL LINK               305
TAMPINES CTRL 1             303
YUNG HO RD                  302
KENT RD                     301
HENDERSON RD                300
ROCHOR RD                   299
YUNG LOH RD                 298
KING GEORGE'S AVE           297
INDUS RD                    290
QUEEN ST                    290
HOUGANG ST 31               290
ANG MO KIO AVE 2            288
CLARENCE LANE               288
YISHUN CTRL 1               287
WATERLOO ST                 286
UPP SERANGOON VIEW          277
GEYLANG EAST CTRL           276
YISHUN ST 20                275
BRIGHT HILL DR              275
PUNGGOL FIELD WALK          271
JURONG WEST ST 62           270
CLEMENTI ST 14              254
PASIR RIS ST 41             251
QUEENSWAY                   250
CHOA CHU KANG NTH 7         243
FERNVALE ST                 242
ANCHORVALE ST               240
BUANGKOK GREEN              236
YISHUN AVE 1                236
SENJA LINK                  236
SIMS AVE                    235
OLD AIRPORT RD              232
KG ARANG RD                 232
YISHUN ST 41                229
CANBERRA LINK               228
JOO CHIAT RD                228
TAMPINES CTRL 8             226
SENGKANG WEST AVE           226
WOODLANDS RISE              220
SUMANG LINK                 218
SHORT ST                    218
KLANG LANE                  217
WOODLANDS CTR RD            214
TAO CHING RD                211
CANBERRA CRES               209
JURONG WEST ST 72           208
EMPRESS RD                  208
SILAT AVE                   205
SAGO LANE                   201
JLN PASAR BARU              199
REDHILL LANE                198
JLN DUA                     196
KEAT HONG LINK              195
BEDOK RESERVOIR CRES        194
ANG MO KIO ST 21            192
FARRER RD                   191
SMITH ST                    191
JLN MA'MOR                  189
AH HOOD RD                  185
ALJUNIED RD                 182
SIMEI LANE                  182
BAIN ST                     181
TIONG BAHRU RD              179
CANBERRA WALK               174
JLN DUSUN                   170
CHANGI VILLAGE RD           169
OWEN RD                     164
JLN TIGA                    159
JELLICOE RD                 158
LOR 3 GEYLANG               156
LIM LIAK ST                 152
JLN KAYU                    149
TAMPINES ST 86              147
MOH GUAN TER                145
BT BATOK WEST AVE 9         134
ANG MO KIO ST 44            124
CHANDER RD                  123
OUTRAM PK                   120
TAMPINES AVE 1              111
NEW MKT RD                  110
FRENCH RD                   110
LOWER DELTA RD              109
WHAMPOA STH                 107
ANG MO KIO ST 11            105
EAST COAST RD               105
NILE RD                     104
MOULMEIN RD                 104
TESSENSOHN RD               103
MARGARET DR                 101
KG KAYU RD                   90
CHIN SWEE RD                 89
ANG MO KIO ST 51             89
KIM CHENG ST                 85
JURONG WEST CTRL 3           85
TAMPINES ST 61               77
BT BATOK EAST AVE 6          75
JURONG WEST ST 51            73
SELETAR WEST FARMWAY 6       71
JLN BERSEH                   67
LIM CHU KANG RD              64
BUANGKOK STH FARMWAY 1       62
TECK WHYE CRES               62
KRETA AYER RD                59
ALEXANDRA RD                 59
KG BAHRU HILL                50
HU CHING RD                  48
KIM PONG RD                  47
YISHUN ST 43                 43
CLEMENTI ST 12               41
CLEMENTI ST 11               40
HOUGANG ST 32                37
ANG MO KIO ST 61             37
BT MERAH LANE 1              36
SEMBAWANG RD                 24
SENG POH RD                  23
JLN MEMBINA BARAT            20
GEYLANG EAST AVE 2           15
SEMBAWANG WAY                14
OUTRAM HILL                   9
MARINE PARADE CTRL            3
ALJUNIED AVE 2                1
Name: count, dtype: int64

In [ ]:
#storey_range
sorted(df.storey_range.unique())

['01 TO 03',
 '01 TO 05',
 '04 TO 06',
 '06 TO 10',
 '07 TO 09',
 '10 TO 12',
 '11 TO 15',
 '13 TO 15',
 '16 TO 18',
 '16 TO 20',
 '19 TO 21',
 '21 TO 25',
 '22 TO 24',
 '25 TO 27',
 '26 TO 30',
 '28 TO 30',
 '31 TO 33',
 '31 TO 35',
 '34 TO 36',
 '36 TO 40',
 '37 TO 39',
 '40 TO 42',
 '43 TO 45',
 '46 TO 48',
 '49 TO 51']

In [ ]:
len(df[df.storey_range.isin(['01 TO 05', '06 TO 10', '11 TO 15', '16 TO 20', '21 TO 25', '26 TO 30', '31 TO 35', '36 TO 40'])])

6832

In [ ]:
df[['storey_range_from', 'storey_range_to']] = df['storey_range'].str.split(' TO ', expand=True)

In [ ]:
df['storey_range_from'] = df['storey_range_from'].astype(int)
df['storey_range_to'] = df['storey_range_to'].astype(int)

In [ ]:
#flat_model
print("flat_model unique count: ", len(df.flat_model.unique()))
sorted(df.flat_model.unique())

flat_model unique count:  34

array(['IMPROVED', 'NEW GENERATION', 'MODEL A', 'STANDARD', 'SIMPLIFIED',
       'MODEL A-MAISONETTE', 'APARTMENT', 'MAISONETTE', 'TERRACE',
       '2-ROOM', 'IMPROVED-MAISONETTE', 'MULTI GENERATION',
       'PREMIUM APARTMENT', 'Improved', 'New Generation', 'Model A',
       'Standard', 'Apartment', 'Simplified', 'Model A-Maisonette',
       'Maisonette', 'Multi Generation', 'Adjoined flat',
       'Premium Apartment', 'Terrace', 'Improved-Maisonette',
       'Premium Maisonette', '2-room', 'Model A2', 'DBSS', 'Type S1',
       'Type S2', 'Premium Apartment Loft', '3Gen'], dtype=object)

In [ ]:
df['flat_model']=df['flat_model'].str.upper()

In [ ]:
print("flat_model unique count: ", len(df.flat_model.unique()))
sorted(df.flat_model.unique())

flat_model unique count:  21

['2-ROOM',
 '3GEN',
 'ADJOINED FLAT',
 'APARTMENT',
 'DBSS',
 'IMPROVED',
 'IMPROVED-MAISONETTE',
 'MAISONETTE',
 'MODEL A',
 'MODEL A-MAISONETTE',
 'MODEL A2',
 'MULTI GENERATION',
 'NEW GENERATION',
 'PREMIUM APARTMENT',
 'PREMIUM APARTMENT LOFT',
 'PREMIUM MAISONETTE',
 'SIMPLIFIED',
 'STANDARD',
 'TERRACE',
 'TYPE S1',
 'TYPE S2']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 922479 entries, 0 to 924446
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                922479 non-null  object
 1   town                 922479 non-null  object
 2   flat_type            922479 non-null  object
 3   block                922479 non-null  object
 4   street_name          922479 non-null  object
 5   storey_range         922479 non-null  object
 6   floor_area_sqm       922479 non-null  float64
 7   flat_model           922479 non-null  object
 8   lease_commence_date  922479 non-null  int64
 9   resale_price         922479 non-null  float64
 10  Year                 922479 non-null  int64
 11  Month                922479 non-null  int64
 12  storey_range_from    922479 non-null  int64
 13  storey_range_to      922479 non-null  int64
dtypes: float64(2), int64(5), object(7)
memory usage: 105.6+ MB

In [ ]:
df.describe()

,floor_area_sqm,lease_commence_date,resale_price,Year,Month,storey_range_from,storey_range_to
count,922479.000000,922479.000000,9.224790e+05,922479.000000,922479.000000,922479.000000,922479.000000
mean,95.717319,1988.251066,3.200430e+05,2006.119543,6.555554,6.679068,8.693880
std,25.827628,10.629884,1.696990e+05,9.283040,3.417727,4.818659,4.818671
min,28.000000,1966.000000,5.000000e+03,1990.000000,1.000000,1.000000,3.000000
25%,73.000000,1981.000000,1.930000e+05,1999.000000,4.000000,4.000000,6.000000
50%,93.000000,1986.000000,2.960000e+05,2005.000000,7.000000,7.000000,9.000000
75%,113.000000,1996.000000,4.160000e+05,2014.000000,10.000000,10.000000,12.000000
max,307.000000,2022.000000,1.568888e+06,2024.000000,12.000000,49.000000,51.000000